name: ECC

on: push

jobs:

  build:

    runs-on: ubuntu-latest
    env:
      GH_TOKEN: ${{secrets.GH_TOKEN}}
      DAPS_PASSWORD_DOCKER: ${{secrets.KEYSTORE_PASSWORD}}
      SSL_KEY_PASSWORD: ${{secrets.SSL_KEY_PASSWORD}}
      DOCKER_USER: ${{secrets.DOCKER_USER}}
      DOCKER_PASSWORD: ${{secrets.DOCKER_PASSWORD}}
      GH_PACKAGE_REPO_PASSWORD: ${{secrets.GH_PACKAGE_REPO_PASSWORD}}

    steps:
      
      - name: Git Checkout
        uses: actions/checkout@v2
      
      - name: Run Install
        run: ./ci/install.sh
        
      - name: Docker images
        run:  docker images
        
      - name: Run docker container HTTPS-HTTPS-mixed
        run: docker-compose -f ./ci/docker/test-cases/docker-compose.yml --env-file ./ci/docker/test-cases/https-https-mixed/.env up -d
        
      - name: Wait for cointainer starting
        run: sleep 120 
        
      - name: Check if the container is up and running
        run: docker ps -a 
      
      - name: Run Test HTTPS-HTTPS-mixed
        run: newman run ./ci/docker/test-cases/https-https-mixed/HTTPS-HTTPS-mixed.json --timeout-request 120000 --insecure --bail --verbose
        
      - name: Dump docker HTTPS-HTTPS-mixed
        if: failure()
        uses: jwalton/gh-docker-logs@v1
        
      - name: Stop docker container HTTPS-HTTPS-mixed
        run: docker-compose -f ./ci/docker/test-cases/docker-compose.yml --env-file ./ci/docker/test-cases/https-https-mixed/.env down -v
        
      - name: Run docker container HTTPS-HTTPS-form
        run: docker-compose -f ./ci/docker/test-cases/docker-compose.yml --env-file ./ci/docker/test-cases/https-https-form/.env up -d
        
      - name: Wait for cointainer starting
        run: sleep 120 
        
      - name: Check if the container is up and running
        run: docker ps -a 
      
      - name: Run Test HTTPS-HTTPS-form
        run: newman run ./ci/docker/test-cases/https-https-form/HTTPS-HTTPS-form.json --timeout-request 120000 --insecure --bail --verbose
      
      - name: Dump docker HTTPS-HTTPS-form
        if: failure()
        uses: jwalton/gh-docker-logs@v1
        
      - name: Stop docker container HTTPS-HTTPS-form
        run: docker-compose -f ./ci/docker/test-cases/docker-compose.yml --env-file ./ci/docker/test-cases/https-https-form/.env down -v
        
      - name: Run docker container HTTPS-HTTPS-header
        run: docker-compose -f ./ci/docker/test-cases/docker-compose.yml --env-file ./ci/docker/test-cases/https-https-header/.env up -d
        
      - name: Wait for cointainer starting
        run: sleep 120 
        
      - name: Check if the container is up and running
        run: docker ps -a 
      
      - name: Run Test HTTPS-HTTPS-header
        run: newman run ./ci/docker/test-cases/https-https-header/HTTPS-HTTPS-header.json --timeout-request 120000 --insecure --bail --verbose
        
      - name: Stop docker container HTTPS-HTTPS-header
        run: docker-compose -f ./ci/docker/test-cases/docker-compose.yml --env-file ./ci/docker/test-cases/https-https-header/.envdown -v
      
      - name: Dump docker HTTPS-HTTPS-header
        if: failure()
        uses: jwalton/gh-docker-logs@v1
        
      - name: Run docker container HTTPS-IDSCP2-mixed
        run: docker-compose -f ./ci/docker/test-cases/docker-compose.yml --env-file ./ci/docker/test-cases/https-idscp2-mixed/.env up -d
        
      - name: Wait for cointainer starting
        run: sleep 120 
        
      - name: Check if the container is up and running
        run: docker ps -a 
      
      - name: Run Test HTTPS-IDSCP2-mixed
        run: newman run ./ci/docker/test-cases/https-idscp2-mixed/HTTPS-IDSCP2-mixed.json --timeout-request 120000 --insecure --bail --verbose
        
      - name: Dump docker HTTPS-IDSCP2-mixed
        if: failure()
        uses: jwalton/gh-docker-logs@v1
        
      - name: Stop docker container
        run: docker-compose -f ./ci/docker/test-cases/docker-compose.yml --env-file ./ci/docker/test-cases/https-idscp2-mixed/.env down -v
        
      - name: Run docker container HTTPS-IDSCP2-form
        run: docker-compose -f ./ci/docker/test-cases/docker-compose.yml --env-file ./ci/docker/test-cases/https-idscp2-form/.env up -d
        
      - name: Wait for cointainer starting
        run: sleep 120 
        
      - name: Check if the container is up and running
        run: docker ps -a 
      
      - name: Run Test HTTPS-IDSCP2-form
        run: newman run ./ci/docker/test-cases/https-idscp2-form/HTTPS-IDSCP2-form.json --timeout-request 120000 --insecure --bail --verbose
        
      - name: Dump docker HTTPS-IDSCP2-form
        if: failure()
        uses: jwalton/gh-docker-logs@v1
        
      - name: Stop docker container
        run: docker-compose -f ./ci/docker/test-cases/docker-compose.yml --env-file ./ci/docker/test-cases/https-idscp2-form/.env down -v
        
      - name: Run docker container HTTPS-IDSCP2-header
        run: docker-compose -f ./ci/docker/test-cases/docker-compose.yml --env-file ./ci/docker/test-cases/https-idscp2-header/.env up -d
        
      - name: Wait for cointainer starting
        run: sleep 120 
        
      - name: Check if the container is up and running
        run: docker ps -a 
      
      - name: Run Test HTTPS-IDSCP2-header
        run: newman run ./ci/docker/test-cases/https-idscp2-header/HTTPS-IDSCP2-header.json --timeout-request 120000 --insecure --bail --verbose
        
      - name: Dump docker HTTPS-IDSCP2-header
        if: failure()
        uses: jwalton/gh-docker-logs@v1
        
      - name: Stop docker container
        run: docker-compose -f ./ci/docker/test-cases/docker-compose.yml --env-file ./ci/docker/test-cases/https-idscp2-header/.env down -v
        
      - name: Run docker container WS-WS
        run: docker-compose -f ./ci/docker/test-cases/docker-compose.yml --env-file ./ci/docker/test-cases/ws-ws/.env up -d
        
      - name: Wait for cointainer starting
        run: sleep 120 
        
      - name: Check if the container is up and running
        run: docker ps -a 
      
      - name: Run Test WS-WS
        run: newman run ./ci/docker/test-cases/ws-ws/WS-WS.json --timeout-request 120000 --insecure --bail --verbose
        
      - name: Dump docker WS-WS
        if: failure()
        uses: jwalton/gh-docker-logs@v1
        
      - name: Stop docker container
        run: docker-compose -f ./ci/docker/test-cases/docker-compose.yml --env-file ./ci/docker/test-cases/ws-ws/.env down -v
        
      - name: Run docker container WS-IDSCP2
        run: docker-compose -f ./ci/docker/test-cases/docker-compose.yml --env-file ./ci/docker/test-cases/ws-idscp2/.env up -d
        
      - name: Wait for cointainer starting
        run: sleep 120 
        
      - name: Check if the container is up and running
        run: docker ps -a 
      
      - name: Run Test WS-IDSCP2
        run: newman run ./ci/docker/test-cases/ws-idscp2/WS-IDSCP2.json --timeout-request 120000 --insecure --bail --verbose
        
      - name: Dump docker WS-IDSCP2
        if: failure()
        uses: jwalton/gh-docker-logs@v1
        
      - name: Stop docker container
        run: docker-compose -f ./ci/docker/test-cases/docker-compose.yml --env-file ./ci/docker/test-cases/ws-idscp2/.env down -v
        
      - name: Run deploy
        run: ./ci/deploy.sh

      
